/* https://tachyons.io/docs/ */
@import url('//unpkg.com/tachyons/css/tachyons.min.css');

:root {
  --page-background-color: #001b44;
}

html {
  font: 16px/normal sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--page-background-color);
}

main {
  width: 100vw;
  height: 100vh;
}

h1 {
  margin: 0;
}



